footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, $light-blue, $blue, $dark-blue);
  padding: 15px;
}

.footer__link {
  display: flex;
  align-items: center;
}

.pages-block {
  display: flex;
  justify-content: center;
}

.pages-block__link {
  display: flex;
  justify-content: center;
}

.social {
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end;
}

.social__link {
  margin: 0 15px;

  &:hover {
    color: $light-blue;
  }
}

@media screen and (max-width: $grid__bp-sm) and (min-width: 0) {
  .social {
    font-size: 1em;
  }

  .pages-block {
    justify-content: space-around;
  }

  .pages-block__link {
    font-size: 0.9em;
  }

  .social__link {
    margin: 0 10px;
  }
}
