<header class="row">
  <a class="header__link" href="./index.html">
    <img src="../img/logo.png" alt="logo" class="logo" />
  </a>
  <div class="right-block col-sm-1 col-md-10 col-lg-5">
    <div class="right-block__btn">
      <i class="ion-md-menu"></i>
    </div>
    <div class="right-block__menu row">
      <a
        href="#loginModal"
        data-modal-open
        class="right-block__link col-sm-12 col-md-2 col-lg-2"
        >Login</a
      >
      <a
        href="#regisModal"
        data-modal-open
        class="right-block__link col-sm-12 col-md-2 col-lg-2"
        >Registration</a
      >
      <a
        href="./bucket.html"
        class="right-block__link col-sm-12 col-md-2 col-lg-2"
        >Bucket</a
      >
      <a
        class="right-block__link col-sm-12 col-md-2 col-lg-2"
        href="#"
        id="toggle-theme"
        >Retheme</a
      >
    </div>
  </div>
</header>

<div>
  //= login-modal.html
</div>
<div>
  //= modal.html
</div>
<div>
  //= regis-modal.html
</div>
