.c-about {
  padding: 20px;

  &__title {
    text-decoration: underline;
  }

  &__text {
    text-align: center;
  }

  &__image-container {
    text-align: center;
  }

  &__image {
    border-radius: 10px;
    height: auto;
    width: 100%;
  }
}
