.product-content {
  img {
    width: 600px;
    height: 300px;
  }
}
.info-c {
  display: flex;
  align-items: center;
  input {
    margin: 0 20px;
  }
}

@media only screen and (max-width: $grid__bp-sm) {
  .product-content {
    img {
      width: 100%;
      height: auto;
      min-height: 144px;
    }
  }
  .info-c {
    flex-wrap: wrap;
    &__io-block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .style-button {
      margin: 10px 0;
      width: 100%;
      min-width: 100%;
    }
  }
}
