header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, $light-blue, $blue, $dark-blue);
  padding: 15px;
}

.header__logo {
  width: 90px;
  height: 18px;
}

.right-block {
  display: flex;
  justify-content: space-around;
}

.right-block__link {
  margin: 0 20px;
}
